<div class="side">
  <div class="side--left text__container">
    <div class="square">
      <div class="square__header">
        Aplikacja intendenta szkolnego do obsługi magazynu i obecności w zasięgu
        Twojej ręki!
      </div>
      <div class="square__description">
        Specjalistyczne oprogramowanie, które wspiera zarządzanie zasobami i
        administracją w placówkach edukacyjnych - oferujemy:
        <ul>
          <li>
            Tworzenie i utrzymywanie bazy danych wszystkich dostępnych zasobów,
            takich jak żywność w stołówce i na magazynie;
          </li>
          <li>
            Monitorowanie poziomu zapasów, automatyczne powiadomienia o niskich
            stanach magazynowych oraz generowanie raportów dotyczących zużycia;
          </li>
          <li>
            Tworzenie i zarządzanie zamówieniami na nowe zasoby, śledzenie
            statusu dostaw, rejestrowanie przyjęcia nowych towarów i
            aktualizacja stanów magazynowych;
          </li>
          <li>
            Elektroniczne rejestrowanie obecności uczniów i pracowników szkoły;
          </li>
          <li>
            Wysyłanie automatycznych powiadomień do rodziców dotyczących
            raportów kosztowych podsumowujących miesiąc;
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="side--right"></div>
</div>
