<ng-template [ngIf]="authService.isLoggedIn$ | async" [ngIfElse]="notLogged">
  <div class="navbar">
    <a href="/">Home</a>

    <ng-template [ngIf]="user?.is_admin" [ngIfElse]="notAdmin">
      <a href="/intendants">Intendants</a>
      <a href="/schools">Schools</a>
    </ng-template>

    <ng-template #notAdmin>
      <a href="/students">Students</a>
    </ng-template>

    <a href="/user">User</a>
    <a href="/" (click)="authService.logout()">Logout</a>
  </div>
</ng-template>
<ng-template #notLogged>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
</ng-template>
