.navbar {
  display: table;
  width: 100%;
  table-layout: fixed;

  a {
    border: #bbb solid;
    border-width: 1px;
    border-radius: 0.5rem;
    background-color: rgb(204, 204, 204);
    color: rgb(243, 243, 243);
    display: table-cell;
    font-size: 1.8rem;
    padding: 2px 2rem;
    text-align: center;
    text-decoration: none;
  }
}
