$height: 7.4rem;
$header-width: 23rem;

.navbar {
  &__header {
    font-family: Kavoon;
    font-size: 2.5rem;
    display: inline-block;
    width: $header-width;
    margin: 2.3rem 0 2.3rem 3.8rem;
  }

  &__items {
    height: $height;
    float: right;
    display: flex;
    flex-direction: row;
    width: calc(100% - $header-width - 13.8rem);

    a {
      color: #2d2e2e;
      font-size: 1.6rem;
      text-decoration: none;
      font-family: Inter;
      min-width: 10rem;
      height: $height;

      padding: 0 1.4rem;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #eee;
      }

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: 3.8rem;
      }
    }
  }
}

.url__icon {
  min-width: auto !important;
}
