<div class="navbar">
  <p class="navbar__header">Intendent EduManager</p>
  <div class="navbar__items">
    <a href="/">Strona główna</a>
    <ng-template
      [ngIf]="authService.isLoggedIn$ | async"
      [ngIfElse]="notLogged"
    >
      <ng-template [ngIf]="user?.is_admin" [ngIfElse]="notAdmin">
        <a href="/schools">Szkoły</a>
        <a href="/intendants">Intendenci</a>
      </ng-template>

      <ng-template #notAdmin>
        <a href="/students">Uczniowie</a>
        <a href="/attendance-list">Lista Obecności</a>
      </ng-template>

      <a href="/user" class="url__icon">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="account_box"
        ></mat-icon>
      </a>
      <a href="/" (click)="authService.logout()" class="url__icon">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="logout"
        ></mat-icon>
      </a>
    </ng-template>
    <ng-template #notLogged>
      <a href="/login">Logowanie</a>
      <a href="/register">Rejestracja</a>
    </ng-template>
  </div>
</div>
