<div class="user__container">
  <div class="text__wrapper">
    <h1 class="text__header">Ustawienia konta</h1>
  </div>

  <ng-template [ngIf]="user?.is_admin" [ngIfElse]="notAdmin">
    <h2 class="user__title">Witaj w domu Administratorze.</h2>
  </ng-template>

  <ng-template #notAdmin>
    <h2 class="user__title">Dobrze Cię widzieć Intendencie!</h2>
  </ng-template>

  <p class="user__field">Twój aktualny e-mail to: {{ user?.email }}</p>
  <p class="user__field">Twoje imię to: {{ user?.first_name }}</p>
  <p class="user__field">Twoja nazwisko to: {{ user?.last_name }}</p>
  <div class="user__link__container">
    <div class="user__link__wrapper">
      <a
        href="/user/edit"
        class="user__link text__button gradient-button gradient-button"
        >Edytuj dane konta</a
      >
    </div>
  </div>

  <button
    (click)="delete(user?.email)"
    class="text__button gradient-button gradient-button-bad"
  >
    Usuń konto
  </button>
</div>
<router-outlet></router-outlet>
