<div>
  <ng-container *ngIf="user?.is_admin"
    >Welcome home Administrator.</ng-container
  >
  <ng-container *ngIf="user?.is_employee && !user?.is_admin"
    >Good to see You Dude!</ng-container
  >
  <ng-container *ngIf="!user?.is_employee && !user?.is_admin"
    >Greetings to our lovely Customer!</ng-container
  >
  <br />
  <br />
  Your email is: {{ user?.email }}<br />
  Your first name is: {{ user?.first_name }}<br />
  Your last name is: {{ user?.last_name }}<br />
  <br />
  Your telephone number is: {{ user?.telephone }}<br />
  Your post code is: {{ user?.post_code }}<br />
  Your street name is: {{ user?.street_name }}<br />
  Your street number is: {{ user?.street_number }}<br />
  Your flat number is: {{ user?.flat_number }}<br />

  <br />
  <a href="/user/edit">Edit account data</a> <br />
  <button (click)="delete(user?.email)">Delete account</button>
</div>
<router-outlet></router-outlet>
