<div class="side">
  <div class="side--left text__container">
    <h1 class="text__header">Dodaj szkołę</h1>

    <form
      (ngSubmit)="submitForm()"
      [formGroup]="form"
      autocomplete="off"
      class="container"
    >
      <div *ngFor="let value of properties">
        <div
          [ngClass]="
            !value?.isVisible
              ? 'form-field__wrapper--hidden'
              : 'form-field__wrapper--visible'
          "
        >
          <mat-form-field appearance="outline">
            <mat-label>{{ value?.label }}</mat-label>
            <input
              matInput
              [placeholder]="value?.placeholder"
              [formControlName]="value?.formControlName"
              type="{{ value?.type }}"
            />
          </mat-form-field>
        </div>
      </div>

      <button type="submit" class="text__button gradient-button">
        Zatwierdź
      </button>
    </form>
  </div>

  <div class="side--right"></div>
</div>
