.text__button {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.user {
  &__container {
    text-align: center;
    background-image: url("/assets/images/pink-back.png");
    background-size: cover;
    height: 100%;
  }
}

.text {
  &__wrapper {
    padding-top: 2rem;
  }

  &__header {
    margin: 0 0 2rem 0;
  }
}

.form-field {
  &__wrapper {
    height: 8.3rem;
    &--visible {
      display: inline;
    }

    &--hidden {
      display: none;
    }
  }
}
