<div class="side">
  <div class="side--left text__container">
    <h1 class="text__header">Wyszukaj intendenta</h1>

    <form
      (ngSubmit)="submitSearch()"
      [formGroup]="searchForm"
      autocomplete="off"
      class="container"
    >
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          placeholder="przyklad@edu.pl"
          formControlName="email"
          type="email"
          required
        />
      </mat-form-field>

      <button type="submit" class="text__button gradient-button">
        Wyszukaj
      </button>
    </form>
    <div *ngIf="!!this.intendant">
      <app-intendant [intendant]="this.intendant" />
    </div>
    <div *ngIf="!!this.intendantEmail">
      <app-add-intendant-to-school [intendantEmail]="this.intendantEmail" />
    </div>
  </div>

  <div class="side--right"></div>
</div>
