.side {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  height: 100%;

  &--left,
  &--right {
    display: inline-block;
  }
  &--right {
    background-image: url("/assets/images/abstract-liquid.png");
  }
}

.text {
  &__button {
    margin-left: 2rem;
    margin-top: 0;
  }
}
