mat-form-field {
  width: 35.5rem;
}

mat-dialog-container {
  width: 30rem !important;
  height: 10rem !important;
  top: 1rem !important;
  right: 1rem !important;
  left: initial !important;
  position: fixed !important;
}
