.obecny {
  background-color: #a5d6a7;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.nieobecny {
  background-color: #ef9a9a;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

th,
td {
  vertical-align: middle;
  border-width: 0.5px;
  border-style: solid;
  border-color: bisque;
  text-align: center;
}

th {
  font-weight: bold;
  font-size: 2rem;
}

td {
  width: 15%;

  &:first-child {
    width: 40%;
  }
}

.mat-row {
  width: 100%;
}

.text__button--closer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
